- if @notes.any?
  - @notes.each do |note|
    %h2= note.title
    %p= note.contents
- else
  No Notes to remember today.

= form_for Note.new do |f|
  = f.label :Add
  = f.text_field :title
  = f.number_field :priority
  = f.text_field :contents
  = f.submit
